$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-transparent: transparent;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.7);
$color-black: #000;