.NavItem {
    margin-bottom: 1.2rem;
}

.NavLink {
    // color: $color-grey-dark;
    color: #999;

    &:hover {
        text-decoration: none;
        color: #ff0000;
        cursor: pointer;
    }
}

.active {
    color: #000;
}