@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.Contact {
    font-size: 1.2rem;

    height: calc(100vh - 10rem);
    padding: 7rem 8rem;

    display: grid;
    grid-template-rows: 7.5rem 1fr min-content;
    grid-template-columns: 33.3% 66.7%;

    @include respond(phone) {
        height: 100%;
        padding: 3rem 3rem 1rem 3rem;

        grid-template-rows: 10rem min-content;
        grid-template-columns: 100%;
        grid-row-gap: 3rem;
    };
}

// dark
.ContactDark {
    font-size: 1.2rem;

    height: calc(100vh - 10rem);
    padding: 7rem 8rem;

    display: grid;
    grid-template-rows: 7.5rem 1fr min-content;
    grid-template-columns: 33.3% 66.7%;

    color: $color-matrix;
    background-color: $color-matrix-black;

    @include respond(phone) {
        height: 100%;
        padding: 3rem 3rem 1rem 3rem;

        grid-template-rows: 10rem min-content;
        grid-template-columns: 100%;
        grid-row-gap: 3rem;
    };
}