@import '../../sass/abstracts/variables';

.Profile {
    font-size: 1.2rem;

    padding: 7rem 8rem;

    display: grid;
    grid-template-rows: 7.5rem 1fr min-content;
    grid-template-columns: 33.3% 66.7%;

    @media only screen and (max-width: 37.5em) {
        margin: 5rem;

        grid-template-rows: 7.5rem 20rem 1fr 6rem;
        grid-template-columns: 100%;
    };
}

// dark
.ProfileDark {
    font-size: 1.2rem;

    padding: 7rem 8rem;

    display: grid;
    grid-template-rows: 7.5rem 1fr min-content;
    grid-template-columns: 33.3% 66.7%;

    // dark
    color: $color-matrix;
    background-color: $color-matrix-black;

    @media only screen and (max-width: 37.5em) {
        margin: 5rem 5rem 1rem 5rem;

        grid-template-rows: 7.5rem 1fr 2.2fr 3.5rem;
        grid-template-columns: 100%;
    };
}