@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.ContactComponent {
    display: grid;

    @include respond(phone) {
        grid-row-gap: 1rem;
    }

    .Map {
        width: 100%;
        height: 30rem;
        border-radius: 3px;
    }

    & ul {
        display: flex;

        @include respond(phone) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    & img {
        width: 5rem;
        height: 5rem;
        margin-right: 3rem;
        transition: all .3s;

        @media only screen and (max-width: 37.5em) {
            margin-bottom: 1rem;
        };

        &:hover {
            transform: scale(1.3);
        }
    }
}

// dark
.ContactComponentDark {
    display: grid;

    @include respond(phone) {
        grid-row-gap: 1rem;
    }

    .Map {
        width: 100%;
        height: 30rem;
        border-radius: 3px;
    }

    & ul {
        display: flex;

        @include respond(phone) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        & li {

            & img {
                width: 5rem;
                height: 5rem;
                margin-right: 3rem;
                transition: all .3s;
                background-color: $color-matrix;
                border-radius: 3px;

                @media only screen and (max-width: 37.5em) {
                    margin-bottom: 1rem;
                };

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}
