@import '../../sass/abstracts/mixins';

.Footer {
    font-size: 1rem;
    margin-top: 6rem;
    grid-column: 1 / -1;

    @include respond(phone) {
        align-self: end;
        margin-bottom: 1rem;
    };

    & span {
        @include respond(phone) {
            display: block;
        };
    }
}
