.MyProjects li {
    margin-bottom: 1.2rem;
}

.MyProjects a {
    color: #000;

    &:hover {
        text-decoration: none;
        color: #ff0000;
        cursor: pointer;
    }
}

.MyProjects span {
    vertical-align: 2px;
    font-size: 1rem;
    color: #999;

    padding-right: 1.5rem;
}
