@import '../abstracts/variables';

// light
.NavItem {
    margin-bottom: 1.2rem;

    & .NavLink {
        color:$color-grey-dark;

        &:hover {
            text-decoration: none;
            color: $color-danger;
            cursor: pointer;
        }
    }

    & .active {
        color: $color-black;
    }
}

// dark
.NavItemDark {
    margin-bottom: 1.2rem;

    & .NavLink {
        color:$color-matrix;

        &:hover {
            text-decoration: none;
            color: $color-danger;
            cursor: pointer;
        }
    }

    & .active {
        color: $color-danger;
    }
}
