@import '../../sass/abstracts/variables';

.ProfileComponent {
    display: block;

    text-transform: none;
    color: $color-black;

    & h1 {
        font-size: 3.7rem;

        margin-top: -.5rem;
        margin-bottom: 5rem;
    }

    & img {
        float: right;
        width: 50%;
        margin: 0rem 0rem 2rem 2rem;
    }

    & h4 {
        margin-bottom: 3rem;
    }

    & article {
        line-height: 2.5rem;
    }
}

// dark
.ProfileComponentDark {
    display: block;

    text-transform: none;
    color: $color-matrix;

    & h1 {
        font-size: 3.7rem;

        margin-top: -.5rem;
        margin-bottom: 5rem;
    }

    & img {
        float: right;
        width: 50%;
        margin: 0rem 0rem 2rem 2rem;
    }

    & h4 {
        margin-bottom: 3rem;
    }

    & article {
        line-height: 2.5rem;
    }
}